/* styles.css */

.move-details {
    margin-bottom: 20px;
  }
  
  .move-details button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .items-list {
    margin-top: 10px;
  }
  
  .items-list h2 {
    font-size: 18px;
  }
  
  .items-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .items-list li {
    margin-bottom: 5px;
  }
  